<header>
  <div class="logo" >
    <a routerLink="/home"> </a><img src="assets/images/Manda.png" alt="logo" style="width: 240px; height: 96px" >
  </div>
  <div>
    <app-busqueda></app-busqueda>
  </div>
  <div class="userInfo">
    <div class="icons">
      <div class="iconNemail">
          <div class="user"><img src="../../assets/images/user.png" alt="usuario" ></div>
          <div class="username"><p id="username">{{emailUser}}</p></div>
      </div>
      <div class="carrito"><img src="../../assets/images/carrito.png" alt="carrito"></div>
      <div class="logout"><a href="#" id="logout" (click)="onClickLogout()">Salir</a></div>
    </div>
  </div>
</header>