<footer>
    <div class="row">
      <a >Trabaja con nosotros</a>
      <a >Sobre nosotros</a>
      <a >Contáctanos</a>
      <a >Términos y condiciones</a>
      <a>Políticas de privacidad</a>
      </div>
  <div class="column">
    <div class="column-space"><p>Siguenos en las redes</p></div>
    <div class="icons">
      <div class="icon"><a href="https://es-la.facebook.com/"><img src="assets/images/facebook.png"></a></div>
      <div class="icon"><a href="https://www.instagram.com/"><img src="assets/images/instagram.png"></a></div>
      <div class="icon"><a href="https://twitter.com/login?lang=es"><img src="assets/images/twitter.png"></a></div>
    </div>
    <div><p>Copyright © 2019 La Mandarina C.A. RIF: J-333333333-3</p></div>
  </div>
</footer>
