<app-header></app-header>
<main>
  <section>
      <h2>Carrito de compras</h2>
      <h3>Tus productos:  </h3>
      <ul>
        <li *ngFor="let product of this.userService.products ; index as i" >
                <div class="item">
                    <div class="img"><img src="{{this.userService.products[i]?.portada}}" alt="producto" ></div> 
                </div>
                <div class="item-info" >
                    <h3>{{this.userService.products[i]?.product_title}}</h3>
                    <h4> Precio: ${{this.userService.products[i]?.price}}</h4>
                    <button class="button">Eliminar articulo</button>
            </div>
        </li> 
      </ul>
  </section>
  <aside>
      <div >
          <h3 class="topay">Subtotal ({{this.userService.cant}} producto(s)): {{this.userService.subtotal}}</h3>
      </div>
      <a href="#"><button class="button">Formaliza Pago</button></a>
    </aside>
</main>
<app-footer></app-footer>
