<app-header></app-header>
<app-navbar></app-navbar>
<main>
  <section>
      <h2>Carrito de compras</h2>
      <h3>Tus productos:</h3>
      <ul>
          <li>
              <div>
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex?</h3>
                  <figure>
                      <a href="ProductDetails.html"><img src="imagenes\pelota.jpg" alt="pelota" style="width: 90px; height: 90px"></a>
                      <figcaption>Precio: BS.30000.00</figcaption>
                  </figure>
                  <button>Eliminar articulo</button>
              </div>
          </li>
          <li>
              <div>
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex?</h3>
                  <figure>
                      <img src="imagenes\tostiempanada.jpg" alt="tostiempanada" style="width: 90px; height: 90px">
                      <figcaption>Precio: BS.100000.00</figcaption>
                  </figure>
                  <button>Eliminar articulo</button>
              </div>
          </li>
          <li>
              <div>
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex?</h3>
                  <figure>
                      <img src="imagenes\mandarina.jpg" alt="mandarina" style="width: 90px; height: 90px">
                      <figcaption>Precio: BS.167800.00</figcaption>
                  </figure>
                  <button>Eliminar articulo</button>
              </div>

          </li>
      </ul>
  </section>
  <aside>
      <div>
          <p>
              Total a pagar: BS. 88878627.39<br> Subtotal: 823727.48<br> Iva: BS.3082490.32 <br> etc..
          </p>
      </div>
      <a href="Address.html"><button>Formaliza Pago</button></a>
  </aside>
</main>
<app-footer></app-footer>