form{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4em;
}
a{
    color: grey;
}
a:hover{
    font-weight: 600;
}
label{
    color: white;
}
@media screen and (max-width: 900px) {
    form{   
      flex-direction: column;
    }
    
  }