div{
    width: 100%;
}
.navbar{
    background-color: #1d1b1b;
    border-bottom-style: solid;
    border-bottom-color: #ec4d37;
    border-bottom-width: 6px;
    width: 100%;
    list-style: none;
    display: flex;
}

.navbar li {
    margin:0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.navbar a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.navbar a:hover {
    color:  #ec4d37;
    font-size: 1.3rem;
    font-weight: 800;
}
@media screen and (max-width: 804px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }