<main>
  <div class="history">
      <h2>Quiénes Somos?</h2>
      <p>Manda es una tienda por departamentos fundada en 2011 con una sola tienda a nivel nacional, 30 empleados y una visión de servicio personalizado, y gracias al empeño de sus empleados y su distinguida clientela, se encuentra dando pasos importantes hacia el futuro, con 12 tiendas a nivel nacional dando trabajo a 500 empleados, y que por primera vez, se aventura al mundo del e-commerce con la primera tienda por departamentos online del país.
      </p>
  </div>
  <div class="register">
    <app-registro></app-registro>    
  </div>
</main>