main{
    display: flex;
    padding: 1em;
    margin: 0;
    font-weight: 300;
}
h2{
    margin-bottom: 1em;
}
p{
    text-align: justify;
    line-height: 1.6;
}
.history{
    padding: 1em;
    line-height: 110%;
    max-width: 500px;
}
@media screen and (max-width: 900px) {
    main {   
      flex-direction: column;

    }
    .history{
        max-width: 850px;
        margin-bottom: 30px;
    }
  }