<aside>
    <h3>Filtro de busqueda</h3>
    <div>
        <h4>Departamentos</h4>
        <form>
            <input type="radio" name="Departamentos" value="Todos" checked>Todos los departamentos<br>
            <input type="radio" name="Departamentos" value="ropaDeportiva">Ropa Deportiva<br>
            <input type="radio" name="Departamentos" value="electrodomesticos">Electrodomesticos<br>
            <input type="radio" name="Departamentos" value="Juguetes">Juguetes<br>
            <input type="radio" name="Departamentos" value="Deporte">Deporte<br>
            <input type="radio" name="Departamentos" value="ropaDamas">Ropa para Damas<br>
            <input type="radio" name="Departamentos" value="ropaCaballeros">Ropa para Caballeros<br>
            <input type="radio" name="Departamentos" value="ropaNiños">Ropa para Ninos<br>
            <input type="radio" name="Departamentos" value="Hogar">Articulos para el Hogar<br>
            <input type="submit" name="aplicar" value="Aplicar">
        </form>
    </div>
    <div>
        <h4>Precio</h4>
        <form>
            <input type="radio" name="Precio" value="ninguno" checked>No aplicar<br>
            <input type="radio" name="Precio" value="descendiente">Orden Descendiente<br>
            <input type="radio" name="Precio" value="ascendente">Orden Descendiente<br>
            <input type="radio" name="Precio" value="rango">Rango de precio<br> A partir:<input type="number" name="rango" value="desde">Hasta:<input type="number" name="rango" value="hasta"><br>
            <input type="submit" name="aplicar" value="Aplicar">
        </form>
    </div>
    <div>
        <h4>Orden alfabetico</h4>
        <form>
            <input type="radio" name="alfabeto" value="ninguno" checked>No aplicar<br>
            <input type="radio" name="alfabeto" value="descendiente">Orden Descendiente<br>
            <input type="radio" name="alfabeto" value="ascendente">Orden Descendiente<br>
            <input type="submit" name="aplicar" value="Aplicar">
        </form>
    </div>
</aside>
