.title{
    background-color: #1d1b1b;
    color: white;
    display: flex;
    width: 108%;
}
th{
    padding: 1em;
    margin:0;
}
.var{
    margin-top:1em;
    margin-bottom:0.5em;
}
.promo{
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.rowTitle{
    background-color: #ec4d37;
}
.rowElement{
    background-color: grey;
}
h1{
    margin: 3rem;
    color: white;
}
#new{
    margin:1em;
    width: 150px;
}
.newProduct{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.newForm{
    margin: 2rem;
}
#num-var{
    width: 30px;
}
select{
    height: 40px;
    margin: 0.3em;
}
table{
    border-collapse: collapse;
}
td{
    padding: 0.5em;
}
