.title{
    background-color: #1d1b1b;
    color: white;
    display: flex;
}
th{
    padding: 1em;
    margin:0;
}
.rowTitle{
    background-color: #ec4d37;
}
.rowElement{
    background-color: grey;
}
h1{
    margin: 3rem;
    color: white;
}
#new{
    margin:1em;
    width: 150px;
}
.newProduct{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.newForm{
    margin: 2rem;
}
