<app-welcome-header></app-welcome-header>
<app-welcome-main></app-welcome-main>
<footer>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!Ad dolore dignissimos asperiores
  dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum vero expedita ex delectus voluptates rem at neque quos facere sequi unde optio aliquam! Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat
  autem ipsam odit quam beatae tempora quibusdam
</footer>