<app-header></app-header>
<app-navbar></app-navbar>
<main>
    <aside>
        <h3>Configuraciones</h3>
        <ul>
            <li><a href="SetUserInfo.html">Perfil del usuario</a></li>
            <li><a href="SetPaymentMethod.html">Metodo de pago</a></li>
            <li><a href="SetPurchasedList.html">Historial de compras</a></li>
            <li><a href="SetPurchasedList.html">Direcciones</a></li>
        </ul>
    </aside>
    <app-perfil></app-perfil>
    
</main>
<app-footer></app-footer>