header{
    display: flex;
    margin: 0;
    align-items: center;
    padding: 1em;
    border-bottom-style: solid;
    border-bottom-color: #ec4d37;
    border-bottom-width: 100%;
    justify-content: space-between;
    background-color: #1d1b1b;
}

.logo{
    padding: 1em;  
}
.iniciar{
    padding: 1em;
    margin-right: 1em;
    color: white;
}