<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
    <div class="first">
        <h1>Realiza la compra de tus produtos preferidos: Rapido, fácil y seguro, tu solo MANDA! </h1>
        <img id="vector" src="../../assets/images/worker2.png">
    </div>
    

    <div class="slide-div">
            <h2>Productos</h2>
            <ul class="slide-productos">
                
                <li *ngFor="let product of products; index as i">
                    <a routerLink="/detail/{{products[i].id}}"><img src={{products[i].portada}} alt="PRODUCTO"></a>
                </li>
                
            </ul>
        </div>       
    
</div>
<app-footer></app-footer>