<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
    <div class="first">
        <h1>Realiza la compra de tus produtos preferidos: Rapido, fácil y seguro, tu solo MANDA! </h1>
        <img id="vector" src="../../assets/images/worker2.png">
    </div>
    
    <div id="Promociones" class="slide-div">
            <h2>Promociones</h2>
            <ul class="slide-productos">
                <button></button>
                <li>
                    <a href=""><img src="../../assets/images/televisor.jpg" alt="PRODUCTO"></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/images/balon.jpg" alt="PRODUCTO" ></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/images/licuadora.jpg" alt="PRODUCTO" ></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/images/iphonex.jpg" alt="PRODUCTO" ></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/images/xiaomi.jpg" alt="PRODUCTO" ></a>
                </li>
            </ul>
        </div>
        <div id="Promociones" class="slide-div">
            <h2>Telefonos inteligentes</h2>
            <ul class="slide-productos">
                    <li>
                        <a href=""><img src="../../assets/images/televisor.jpg" alt="PRODUCTO"></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/balon.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/licuadora.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/iphonex.jpg" alt="PRODUCTO" ></a>
                    </li>
                </ul>
        </div>
        <div id="Los mas vendidos" class="slide-div">
            <h2>Tendencias en video juegos</h2>
            <ul class="slide-productos">
                    <li>
                        <a href=""><img src="../../assets/images/televisor.jpg" alt="PRODUCTO"></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/balon.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/licuadora.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/iphonex.jpg" alt="PRODUCTO" ></a>
                    </li>
                </ul>
        </div>
        <div id="Recomendados" class="slide-div">
            <h2>Los mas vendidos en artículos para el hogar</h2>
            <ul class="slide-productos">
                    <li>
                        <a href=""><img src="../../assets/images/televisor.jpg" alt="PRODUCTO"></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/balon.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/licuadora.jpg" alt="PRODUCTO" ></a>
                    </li>
                    <li>
                        <a href=""><img src="../../assets/images/iphonex.jpg" alt="PRODUCTO" ></a>
                    </li>
                </ul>
        </div>
</div>
<app-footer></app-footer>