<div>
    <h2>Elige tu método de compra</h2>
    <form id="payment">
        <div class="line"> <input form="payment" id="paypal" name="payment" type="radio"><h3>Paga con <span><img src="../../assets/images/paypal.png" width="70px"></span> </h3></div>
        <p>Añade tu cuenta de paypal para realizar tus compras en Manda</p>
        <hr>
        <div class="line"><input form="payment" id="pdf" name="payment" type="radio"><h3>Genera una orden de compra</h3></div>
        <p>Recibe tu orden de compra por correo</p>
    </form>
</div>